<% provide(:title, "ログイン") %>
<h2>ログイン</h2>

<p><div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      
      <div class="form-group">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %></p>
    
    <p>新規登録は<%= link_to "こちら", signup_path %>から</p>
  </div>
</div>