<% provide(:title, 'スレッド 新規作成') %>

<div class="return">
  <p><%= link_to "←スレッド一覧に戻る", topics_path %></p>
</div>
  
<h1>スレッド 新規作成</h1>

    
<div class="center newtopic-bottom">
  <%= form_for(@topic) do |f| %>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
    <%= f.submit "スレッド作成", class: "btn btn-primary" %>
  <% end %>
</div>
    