<% provide(:title, @topic.title) %>
  <h1><%= @topic.title %></h1>
  <h2>作成者ID： <%= @user_id %></h2>

  <table>
    <ul class="comments">
      <% @comments.each do |comment| %>
        <% if comment.flag != false %>
          <p><tr>
            <% if current_user == @user_id || current_user.admin? %>
              <td>ユーザーID：<%= comment.user_id %></td>
            <% end %>
            <td><%= comment.content %></td>
          </tr></p>
        <% end %>
      <% end %>
    </ul>
  </table>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @comment, url: comments_path do |f|  %>
    
        <div class="form-group">
          <%= f.hidden_field :topic_id, :value => @topic.id %>
          <%= f.text_area :content %>
        </div>
      
        <div class="form-group">
          <p><%= f.submit 'コメントする' %></p>
        </div>
      
      <% end %>
    </div>
  </div>

  </br>

  <p><%= link_to "ホームへ戻る", topics_path %></p>