<% provide(:title, @topic.title) %>

<div class="return">
  <p><%= link_to "←トピック一覧に戻る", topics_path %></p>
</div>
  
  <h1><%= @topic.title %></h1>
  <h2>作成者ID： <%= @user_id %></h2>


  <div class="comments">
    <% @comments.each do |comment| %>
      <% if comment.flag != false %>
        ユーザーID：<%= comment.user_id %>
        <p><%= comment.content %></p>
      <% end %>
    <% end %>
  </div>

  <div class="post_comment">
      <%= form_for @comment, url: comments_path do |f|  %>
    
        <div class="form-group">
          <%= f.hidden_field :topic_id, :value => @topic.id %>
          <%= f.text_area :content %>
        </div>
      
        <div class="form-group">
          <p><%= f.submit 'コメントする' %></p>
        </div>
      
      <% end %>
  </div>
