<% provide(:title, @topic.title) %>

  <div class="tag">
    <h1><%= @topic.title %></h1>
    <% if current_user == @user || current_user.admin? %>
      <h2>作成者ID： <%= @user_id %></h2>
    <% end %>
  </div>
  
  <div class="comment-jump">
    <%= link_to 'コメントする', topic_path(anchor: 'post_comment'), class: 'topic btn btn-primary' %>
  </div>
  
  <div class="comments">
    <% @comments.each do |comment| %>
      <% if comment.flag != false %>
        <% if current_user == @user || current_user.admin? %>
          ユーザーID：<%= comment.user_id %>
        <% end %>
        <p><%= comment.content %></p>
      <% end %>
    <% end %>
  </div>

  <div id="post_comment">
      <%= form_for @comment, url: comments_path do |f|  %>
    
        <div class="form-group">
          <ul>
          <%= f.hidden_field :topic_id, :value => @topic.id %>
          <%= f.text_area :content %>
          </ul>
        </div>
        <p>※140字まで投稿可能</p>
      
        <div class="form-group">
          <p><%= f.submit 'コメントする', class: "btn btn-primary" %></p>
        </div>
      
      <% end %>
  </div>
