<!DOCTYPE html>
<html>
  <head>
    <title>匿名掲示板 - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <%= render 'layouts/shim' %>

  <body style="background-color: #e0ffff;">
      <%= render "layouts/header" %>
    <div class="container" style="background-color: #fffff0;">
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>