<!DOCTYPE html>
<html>
  <head>
    <title>ForumApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <h1><%= link_to "匿名掲示板サイト", '/topics', id: "logo" %></h1>
      </div>
    </header>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>